@import '../../variables.scss';

.Layout {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $gray-blue-bg
}

.overflowHidden {
    height: 100vh;
    overflow: hidden;
}
