@import '../../variables.scss';

.MainPage,
.wrapper,
.filtersContainer,
.productsContainer, 
.productsUIBar {
    box-sizing: border-box;
}

.MainPage {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 200px);
    background-color: $gray-blue-bg;
}

.wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    width: 1600px;
    gap: 50px;
}

.products {
    &Container {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        min-height: calc(100vh - 200px);
        width: 1150px;
        gap: 15px;
    }

    &UIBar {
        display: grid;
        grid-template-areas: "search . . sort button";
        grid-template-columns: 1fr;
        gap: 15px;
        height: 50px;
        width: 1150px;
    }

    &List {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
        gap: 25px;
        justify-content: center;
        min-height: calc(100vh - 265px);
        width: 1150px;
        border-radius: 5px;
        font-size: 24px;
    }
}

.UIBar {
    &ButtonsContainer {
        grid-area: button;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 105px;
    }

    &Button {
        height: 50px;
        width: 50px;
        padding: 0;
        margin: 0;
        border: 1px solid $blue-bg;
        border-radius: 15px;
        outline: none;
        cursor: pointer;
        background-color: $white;
        font-family: $ubuntu;
        font-size: 18px;
    }
}

.Sort {
    grid-area: sort;
    height: 100%;
    width: 275px;
    padding-left: 10px;
    padding-right: 0px;
    border: 1px solid $blue-bg;
    border-radius: 15px;
    font-family: $ubuntu;
    font-size: 24px;
    outline: none;
    cursor: pointer;

    & > option {
        font-size: 18px;
        outline: none;
    }
}

.Search {
    grid-area: search;
    height: 100%;
    width: 350px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid $blue-bg;
    border-radius: 15px;
    color: $blue-bg;
    font-family: $ubuntu;
    font-size: 24px;
    outline: none;
}