@import '../../variables.scss';

.cardInput {
    &ErrorSpan {
        cursor: default;
        color: var(--error);
        font-size: 14px;
    }
    &ErrorCont {
        position: absolute;
        top: 84%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 10px;
    }
}