@import '../../variables.scss';

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: $white;
    font-family: $montserrat;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 100px;
    width: 1600px;
}

.headerLogo {
    display: flex;
    border: none;
    filter: drop-shadow(0 10px 3px $gray-blue-bg);
    background: none;
    color: $blue-bg;
    cursor: pointer;
    outline: none;
    font-size: 40px;
    font-weight: 800;
    transition: all 0.2s ease-in-out;

    &Span1,
    &Span2 {
        display: block;
        transition: all 0.2s ease-in-out;
    }

    &Span2 {
        color: $red-bg;
    }

    &:hover &Span1 {
        transform: translate(65px, -16px);
    }
    &:hover &Span2 {
        transform: translate(-65px, 16px);
    }
}

.cartTotal {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    width: 300px;
    border-bottom: 2px solid $gray-blue-bg;
    color: $blue-bg;
    font-size: 28px;
    font-weight: 500;
    user-select: none;

    &Span {
        margin-left: 10px;
        color: $red-bg;
        font-weight: 600;
    }
}